body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
canvas {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
    background-size: cover;
    border: 5px solid black;
    border-radius: 10px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.has-ganado {
    font-size: 50px;
    color: green;
    animation: blink 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: Arial, sans-serif;
}

.start-message {
    font-size: 40px;
    color: rgb(0, 0, 85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: Arial, sans-serif;
}